<div class="dropdown">
  <a
    class="btn d-flex border border-dark"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      class="rounded-circle me-2 object-fit-cover"
      style="width: 50px; height: 50px"
      src=""
      alt=""
    />
    <div class="text-start">
      <div class="fw-bold text-uppercase">Caos Lourenc</div>
      <div class="text-muted text-lowercase">caoslorenc@42.org.com</div>
    </div>
  </a>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="#">Action</a>
    </li>
  </ul>
</div>
