<div
  class="modal"
  tabindex="-1"
  id="editModal"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <main class="modal-content p-4">
      <form>
        <div class="mb-3">
          <label for="exampleInputnickname1" class="form-label">nickname</label>
          <input type="text" class="form-control" id="exampleInputnickname1" />
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </main>
  </div>
</div>
