<main class="d-flex align-items-start h-100 gap-2 p-2">
  <div class="d-flex flex flex-column justify-content-between h-100 gap-2 col-2">
    <div>
      <div class="h6 mb-4">
        <a class="nav-link" href="#"><span class="ms-2">42 transcendence</span></a>
      </div>

      <menu class="nav nav-pills flex-column gap-2" id="v-pills-tab" role="tablist"  aria-orientation="vertical">
        {% include './nav_button.html' with id='game' icon='bi-controller' label='game' active=True %}
        {% include './nav_button.html' with id='history' icon='bi-clock' label='history' %}
        {% include './nav_button.html' with id='dashbord' icon='bi-bar-chart-line' label='dashbord' %}
      </menu>
    </div>

    <div class="dropdown">
      <a class="btn d-flex border border-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle me-2 object-fit-cover" style="width: 50px; height: 50px;" src="" alt="" />
        <div class="text-start">
          <div class="fw-bold text-uppercase">Caos Lourenc</div>
          <div class="text-muted text-lowercase">caoslorenc@42.org.com</div>
        </div>
      </a>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">Action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-10 h-100 px-2">
    <div class="tab-content w-100 h-100 rounded border border-black p-2" id="v-pills-tabContent">
      {% include '../views/game.html' %}
      {% include '../views/history.html' %}
      {% include '../views/dashbord.html' %}
    </div>
  </div>
</main>
